Nav.css
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav1bar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav1-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav1-item {
    margin: 0 15px;
}

.nav1-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.nav1-link:hover {
    background-color: #555;
    color: #800000;
}

.nav1-link.active {
    background-color: #800000;
    color: #fff;
}

.logo {
    padding: 0px 1rem;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.img{
    height: 100%;
}

@media (max-width: 768px) {
    .nav1-links {
        flex-direction: column;
        display: none;
        width: 100%;
        background-color: #333;
    }

    .nav1-item {
        margin: 10px 0;
        text-align: center;
    }

    .nav1-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 1.5em;
    }
}
